html,
body,
ol,
ul,
li,
p { margin: 0; padding: 0; }

li {
    list-style: none;
}

body {
    font: normal 16px/24px "Helvetica Neue", Helvetica, Arial, freesans, sans-serif; background: #fff; color: #000;
}

pre,
code {
    white-space: normal;
}

#viewport {
    display: block; margin: 20px;
}
